VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=badaam-c53c0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=badaam-c53c0
VITE_FIREBASE_STORAGE_BUCKET=badaam-c53c0.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
